[ng-cloak], .ng-cloak {
  display: none !important;
}

.parent-div {
  position: relative;
}

// Nav Bar
.navbar {
  // background-color: white !important;
  // text-align: center;
  padding: 7px;
}

.nav-link {
  color: #222328;
  font-size: .8em;
}

.navbar-brand, a {
  color: #222328;
}

nav {
  border-bottom: 1px solid;
  border-color: #F0F2F7;
}
.navbar-brand {
  // width: 100%;
  // left: 0;
  // margin:0 auto;
}

// @media (min-width: 768px) {
//   .navbar .navbar-nav {
//       display: inline-block;
//       float: none;
//       vertical-align: top;
//   }
//
//   .navbar .navbar-collapse {
//       text-align: right;
//   }
// }

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #999999;
  font-size: .875rem;
}

/* align icon */
.left-addon .fa  { left:  3px; top: 10px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.liked {
  color: red;
}

.h5 {
  font-size: 1.25rem;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Inputs
input[type=search] {
    width: 360px;
    -webkit-backface-visibility: hidden;
    letter-spacing: 1px;
    padding: 8px 20px;
    // margin: 8px 0;
    border: 1px solid #E3E8F0;
    border-color: #E3E8F0;
    font-size: 10px;
    color: #b0b0b0;
    background-color: #F0F2F7;
    border-radius: 100px;
    margin-right: 10px;
    font-weight: 700;
    font-family: FontAwesome, 'Open Sans', sans-serif !important;
    /* box-sizing: border-box; */
}

input[type=button] {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 10px 0;
    border-color: black;
    border: 1px solid #E3E8F0;
    color: #b0b0b0;
    background-color: #F0F2F7;
    border-radius: 100px;
    font-weight: 700;
    font-family: FontAwesome, 'Open Sans', sans-serif !important;
}

button {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 8px 20px;
  margin: 10px 0;
  border-color: black;
  border: 1px solid #E3E8F0;
  color: #b0b0b0;
  background-color: #F0F2F7;
  border-radius: 100px;
  font-weight: 700;
  font-family: FontAwesome, 'Open Sans', sans-serif !important;
}

.myButton:focus {
  background-color: #e8e8e8;
  color: white;
  border: 0px;
}


button:hover, button:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

// Restaurant item components on main page
.restaurant-item {
    margin-bottom: 30px;
    background-color: white;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    color: #373a3c;
    padding-top: 20px;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0px 10px 12px #888888;
}

#publishBtn {
  color: #FFFFFF;
  background-color: #3B55E6;
  font-weight: 300;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.restaurant-item-2 {
    margin-bottom: 30px;
    background-color: white;
    border-radius: 4px;
    height: 100%;
    overflow: auto;
    color: #373a3c;
    padding-top: 20px;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    padding: 0px;
    box-shadow: 0px 10px 12px #888888;
}

.monty-font-reg {
  color: #888c9c;
  font-size: small;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#monty-special-rev {
  color: #B9BED1;
  font-size: small;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.filter-dropdown {
  position: absolute !important;
}

// Adjust responsive images on page to fit cards
@media (min-width: 480px){
  .my-img {
      max-height: 800px;
  }
}

@media (min-width: 768px){
  .my-img {
    max-height: 380px;
  },
  .col-md-3 {
    max-height: 380px;
  }
}

@media (min-width: 992px){
  .my-img {
      max-height: 330px;

  },
  .col-md-3 {
    max-height: 330px;
  }
}

@media (min-width: 1200px){
  .my-img {
      max-height: 300px;
  },
  .col-md-3 {
    max-height: 300px;
  }
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.restaurant-image {
  height: 100%;
}
.carousel-caption {
  bottom: 80px;
}

// Global html components
table {
    max-width: 100%;
    background-color: rgba(0,0,0, 0.6) !important;
    font-size: 16px;
}

section {
    padding-top: 10px;
}

body {
  padding-top: 80px;
  padding-bottom: 0px;
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  height: 100%;
}

.navbar {
  padding: .22rem !important;
  background-color: #fff!important;
}

.navbar-toggler:hover, .navbar-toggler:visited, .navbar-toggler:active, .navbar-toggler:link, {
  // color: blue;
}

.image_full {
  display:block;
}

.image_mobile {
  display: none;
}

@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
}
