<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Language" content="en">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="https://use.fontawesome.com/d499a08083.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>RESTAURANTor</title>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top bg-inverse">
      <div class="container">
        <ul class="nav navbar-nav pull-xs-left">
          <li class="nav-item active">
            <a class="navbar-brand" href="#"><strong><span style="font-size: 1.5em; font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;">Restaurantor</strong></a>
          </li>
        </ul>
        <ul class="nav navbar-nav" border="1px" width="400px">
          <li class="nav-item" width="200px" style="margin-left: -60px; margin-top: 4px;">
            <input type="search" name="name" width="200px" style="font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;" value="&#xf002; SEARCH RESTAURANTS">
            <input type="button" name="name" value="&#xf107; FILTER">
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item active">
            <a class="nav-link" href="#">ABOUT <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">LOGIN <span class="sr-only">(current)</span></a>
          </li>
        </ul> -->
      </div>
    </nav>

    <!-- Search Input, with Filters -->
    <!-- <section id="search-bar">
        <div class="container">
          <div class="row cold-md-12" style="text-align:center;">
            <input type="search" name="name" value="Search for a restaurant...">
            <input type="button" name="name" value="Filter results">
          </div>
        </div>
    </section> -->

    <!-- Restuarant Display List -->
    <section>
      <div class="container">
        <div class="row">
          <!--  Start single item -->
          <div class="col-lrg-12 restaurant-item">
            <div class="col-md-9" style="height: 100%; padding: 30px">
              <div class="" style="display: inline-block;">
                <h5 style="font-family: 'Montserrat', sans-serif; color: #222328;"><strong>Battambang
              </strong></h5>
              </div>
              <div class="pull-right">
                <span style="color: #4BE1AB;">★★★★☆</span> <span style="color: #4C5263; font-size: small; font-weight: bold; padding: 0px 10px 0px 10px">4.9</span> <span class="monty-font-reg">47 REVIEWS</span>
              </div>
              <br>
              <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;">
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-map-marker" aria-hidden="true"></i> 908 WASHINGTON ST, OAKLAND, CA 94607</li>
              </ul>
              <p style="margin-top: 12px;">
                Treatment assessment expert foundation life-expectancy mobilize democracy social movement. Capacity building; beneficiaries country sustainable future necessities; asylum; human being education change-makers. Developing; equality global citizens, accelerate progress theory of social change aid involvement improving quality Medecins du Monde. Nutrition; Global South impact; vaccine small-scale farmers. <br>
              </p>
              <!-- Opened now.<br> -->
              <br>
              <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;">
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-heart" aria-hidden="true"></i> 23</li>
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-commenting" aria-hidden="true"></i> 32</li>
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-clock-o" aria-hidden="true"></i> 10 minutes ago</li>
              </ul>
            </div>
            <div id="restaurant-image" class="col-md-3 fill">
              <img src="../img/food/salad_cut-2.png" alt="" />
            </div>
          </div>
          <!--  End single item -->
          <!--  Start single item -->
          <div class="col-lrg-12 restaurant-item">
            <div class="col-md-9" style="height: 100%; padding: 30px">
              <div class="" style="display: inline-block;">
                <h5 style="font-family: 'Montserrat', sans-serif; color: #222328;"><strong>Battambang
              </strong></h5>
              </div>
              <div class="pull-right">
                <span style="color: #4BE1AB;">★★★★☆</span> <span style="color: #4C5263; font-size: small; font-weight: bold; padding: 0px 10px 0px 10px">4.9</span> <span class="monty-font-reg">47 REVIEWS</span>
              </div>
              <br>
              <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;">
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-map-marker" aria-hidden="true"></i> 908 WASHINGTON ST, OAKLAND, CA 94607</li>
              </ul>
              <p style="margin-top: 12px;">
                Treatment assessment expert foundation life-expectancy mobilize democracy social movement. Capacity building; beneficiaries country sustainable future necessities; asylum; human being education change-makers. Developing; equality global citizens, accelerate progress theory of social change aid involvement improving quality Medecins du Monde. Nutrition; Global South impact; vaccine small-scale farmers. <br>
              </p>
              <!-- Opened now.<br> -->
              <br>
              <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;">
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-heart" aria-hidden="true"></i> 23</li>
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-commenting" aria-hidden="true"></i> 32</li>
                <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-clock-o" aria-hidden="true"></i> 10 minutes ago</li>
              </ul>
            </div>
            <div id="restaurant-image" class="col-md-3 fill">
              <img src="../img/food/salad_cut-2.png" alt="" />
            </div>
          </div>
          <!--  End single item -->
        </div>
      </div>
    </section>

    <!--build:css css/styles.min.css-->
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/styles.min.css" rel="stylesheet">
    <!--endbuild-->

    <!--build:js js/main.min.js -->

    <!-- Bootstrap core JavaScript -->
    <script src="js/lib/jquery-3.0.0.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="js/lib/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="css/bootstrap.min.js"></script>

  </body>
</html>
