<main>
  <div class="container">
    <div class="row" id="main-container">

      <!--  Start single item -->
      <article>
        <div class="col-lg-12 restaurant-item" ng-repeat="restaurant in restaurants | filter:searchquery.name | filter:myFilter">
          <div class="col-md-3 fill restaurant-image">
            <a href="#/{{restaurant.link}}" tabindex="-1"><img src="img/food/salad_cut-4.png" alt="Restaurant Thumbnail" class="my-img" style="width: auto; height: 100%;"/></a>
          </div>
          <div class="col-md-9" style="height: 100%; padding: 30px">
            <div class="" style="display: inline-block;">
              <h5 style="font-family: 'Montserrat', sans-serif; color: #222328;"><strong><a href="#/{{restaurant.link}}" style="text-decoration: none;">{{restaurant.name}}</a></strong></h5>
            </div>
            <div class="pull-right">
              <span style="color: #305a72;" aria-hidden="true">{{showReviewStars(restaurant.rating)}}</span> <span style="color: #4C5263; font-size: small; font-weight: bold; padding: 0px 10px 0px 10px">{{restaurant.rating}}</span> <span class="monty-font-reg">{{restaurant.reviews.length}} REVIEWS</span>
            </div>
            <br>
            <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;">
              <li style="margin: 0 12px 0 0; display: inline;"><i class="fa fa-map-marker" aria-hidden="true"></i> {{restaurant.address}}</li>
            </ul>
            <p style="margin-top: 12px; min-height: 120px; ">
              {{restaurant.blurb}}<br>
            </p>
            <br>
            <ul class="monty-font-reg" style="margin: 0; padding: 0; list-style-type: none;     position: absolute;
      bottom: 10;">
              <li style="margin: 0 12px 0 0; display: inline;">
                <div href="" class="monty-font-reg" style="display: inline; text-decoration: none">
                  <i class="fa fa-heart" aria-hidden="true" ng-class="{liked: restaurant.liked == true}" ng-click="addLikes(getRestID(restaurant.link))"></i></div>
                   {{restaurant.likes}}
              </li>
            </ul>
          </div>
        </div>
      </article>
      <!--  End single item -->

      <!-- Start 'no results found' div -->
      <div class="col-lg-12" ng-show="(restaurants | filter:searchquery | filter:myFilter).length==0">
        <p>
          <h5 align="center" style="font-family: 'Montserrat', sans-serif; color: #333333;"><strong>Sorry, no results were found. Try again? 😁</strong></h5>
        </p>
      </div>
      <!-- End 'no results found' div -->
    </div>
  </div>
</main>
