<!-- Start nav -->
<nav class="navbar navbar-fixed-top">
  <!-- <div class=""> -->
  <div class="container">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#nav-content" style="-webkit-backface-visibility: hidden;">☰</button>
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item active">
        <a class="navbar-brand" href="#/">
          <strong>
            <span style="font-size: 1.5em; font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;" ng-click="searchquery.name = ''; myFilter = {}">
              Restaurantor
            </span>
          </strong>
          <!-- <strong>
            <span class="image_mobile" style="font-size: 1.5em; font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;" ng-click="searchquery.name = ''; myFilter = {}">
              R
            </span>
          </strong> -->
        </a>
      </li>
    </ul>
    <div id="nav-content">
      <ul class="nav navbar-nav" border="1px">
        <li class="nav-item" style="margin-left: 0px; margin-top: 4px;">
          <div class="inner-addon left-addon" style="float: left;">
            <a href="" class="search-icon" tabindex="-1">
                <i class="fa fa-search" id="myimage"></i>
            </a>
              <input type="search" name="name" class="bird" width="200px" results ng-model="searchquery.name" ng-click="searchquery = {name: ''}" style="margin-top: 10px; padding-left: 34px; font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;" placeholder="SEARCH RESTAURANTS">
            </input>
          </div>
           <!-- &#xf002; -->
            <!-- data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
          <div class="btn-group inner-addon left-addon" style="float: left;">
            <a href="" class="search-icon" tabindex="-1">
                <i class="fa fa-angle-down"></i>
            </a>
            <input type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="FILTER" style="padding-left: 28px; margin-top: 10px;">
              <!-- <i class="fa fa-angle-down"></i> FILTER -->
            </input>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#/" ng-click="myFilter = {}">No Filter</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#/" ng-click="myFilter = {rating: 5}">Rating: 5 Stars</a>
              <a class="dropdown-item" href="#/" ng-click="myFilter = {rating: 4}">Rating: 4 Stars</a>
              <a class="dropdown-item" href="#/" ng-click="myFilter = {rating: 3}">Rating: 3 Stars</a>
              <a class="dropdown-item" href="#/" ng-click="myFilter = {rating: 2}">Rating: 2 Stars</a>
              <a class="dropdown-item" href="#/" ng-click="myFilter = {rating: 1}">Rating: 1 Stars</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item" style="margin-left: 0px; margin-top: 10px;">
          <div class="dropdown" ng-controller="LoginController">
            <input type="image" name="name" value="" ng-src="{{getUrl()}}" width="40px" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="User Avatar" style="border-radius: 40px;">
            <!-- <img type="image" ng-src="{{getUrl()}}" width="40px" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="User Avatar" style="border-radius: 40px;"> -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-header" href="" ng-show="getLoggedIn()" style="font-size: 1rem;">{{getCurrentUser()}}</a>
              <div  ng-show="getLoggedIn()" class="dropdown-divider"></div>
              <a class="dropdown-item" href="" ng-show="!getLoggedIn()" ng-click="login()">Sign In</a>
              <a class="dropdown-item" href="" ng-show="getLoggedIn()" ng-click="logout()">Sign Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
